{% extends "base.html" %}
{% block content %}

<h1>📊 Dashboard Produk</h1>

<div class="card">
<h3>📦 Total Produk: {{produk|length}}</h3>
</div>

<div class="card">
<h3>➕ Tambah Produk</h3>
<form method="POST" action="/add">

<input name="nama" placeholder="Nama">
<input name="beli" type="number" placeholder="Beli">
<input name="jual" type="number" placeholder="Jual">
<input name="stok" type="number" placeholder="Stok">
<input name="expired" placeholder="YYYY-MM-DD">

<select name="satuan">
<option>pcs</option>
<option>kg</option>
<option>liter</option>
<option>box</option>
</select>

<button>Tambah</button>

</form>
</div>

<div class="card">
<table>
<tr>
<th>Nama</th>
<th>Harga</th>
<th>Stok</th>
<th>Satuan</th>
<th>Expired</th>
<th>Aksi</th>
</tr>

{% for p in produk %}
<tr>
<td>{{p['nama']}}</td>
<td>{{p['jual']}}</td>

<td>
{% if p['stok'] <= 3 %}
<span class="low">{{p['stok']}} ⚠</span>
{% else %}
{{p['stok']}}
{% endif %}
</td>

<td>{{p['satuan']}}</td>
<td>{{p['expired'] or '-'}}</td>

<td>
<a href="/tambah_stok/{{p['id']}}">
<button style="background:#22c55e;">+</button>
</a>

<a href="/edit/{{p['id']}}">
<button style="background:#f59e0b;">Edit</button>
</a>

<a href="/hapus_produk/{{p['id']}}">
<button style="background:#ef4444;">Hapus</button>
</a>
</td>

</tr>
{% endfor %}

</table>
</div>

{% endblock %}