{% extends "base.html" %}
{% block content %}

<h1>🧾 Kasir</h1>

<div class="kasir-grid">

<!-- KOLOM PRODUK -->
<div class="card">
<h3>📦 Produk</h3>

{% for p in produk %}
<div style="display:flex;justify-content:space-between;align-items:center;margin:10px 0;">
<div>
<b>{{p['nama']}}</b><br>
<small>{{p['stok']}} {{p['satuan']}}</small>
</div>

<a href="/add_cart/{{p['id']}}">
<button>Tambah</button>
</a>
</div>
<hr style="border:1px solid #1f2937;">
{% endfor %}

</div>

<!-- KOLOM KERANJANG -->
<div class="card">
<h3>🛒 Keranjang</h3>

{% for c in cart %}
<div style="display:flex;justify-content:space-between;">
<span>{{c['nama']}} x{{c['qty']}} {{c['satuan']}}</span>
</div>
{% endfor %}

<a href="/checkout">
<button style="width:100%;margin-top:10px;">Checkout</button>
</a>

</div>

</div>

{% endblock %}